/* global styles */

body {
  background-color: #f1f1f1;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
details {
  font-family: "Lato", sans-serif;
}

summary,
details,
p {
  font-size: 20px;
}

.display-none {
  display: none;
}
